@import url('https://fonts.googleapis.com/css2?family=REM&family=Tajawal:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #2F5D8C;
  border: 2px solid #2F5D8C;
  height: 70px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* nav */
nav{
  border: 2px solid #D8D8D6;
  border-radius:  2px;
  background-color:  #D8D8D6;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
nav ul{
  list-style: none;
  display:flex;
  font-size: 1.3rem;
  margin-left: 1100px;
  gap: 30px;
  font-family: 'Tajawal', sans-serif;
}
nav ul li a{
  text-decoration: none;
  color:#2b3658 ;
  font-family: 'REM', sans-serif;
  font-family: 'Tajawal', sans-serif;
  
}
nav ul li a:hover{
  color: #091831;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color:rgb(255, 255, 255)

}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  color:  #A0B3C1;
  font-family: 'REM', sans-serif;
  font-family: 'Tajawal', sans-serif;
}


.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color:  #2F5D8C;;
  color: #ffffff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: 'REM', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  left:  1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
  
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  font-family: 'REM', sans-serif;
  font-family: 'Tajawal', sans-serif;
  border-image: linear-gradient(to right, transparent, #f17633 , transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}
