@import url('https://fonts.googleapis.com/css2?family=REM&family=Tajawal:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'REM', sans-serif;
  font-family: 'Tajawal', sans-serif;
  background-color: #F9F9F9;
}
/* / *container* / */
.container{
    display: flex;
    border: 1px solid #2F5D8C;
    margin: auto;
    margin-top: calc(8%);
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    height: 500px;
    width: 30%;
    align-items: center;
    background-color: #2F5D8C;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h2{
    font-size: 2.5rem;
    margin: 40px;
    color:  #F9F9F9;
    font-family: 'REM', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

.box{
    padding: 12px;
    width: 75%;
    margin: 15px;
    border: 1px solid #F9F9F9;
    outline: none;
    border-radius: 10px;
    font-family: 'REM', sans-serif;
    font-family: 'Tajawal', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 30px;
    background-color:#D8D8D6;
    color: #2F5D8C;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    outline: none;
    font-family: 'REM', sans-serif;
    font-family: 'Tajawal', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#submit:hover{
    transform: scale(1.09);
    transition: .3s;
}


.fa-brands{
    color: #F9F9F9;
    margin-right: 10px;
}
.fa-brands:hover{
    color: #D55E2D;
    transition: .2s;

}
