@import url('https://fonts.googleapis.com/css2?family=Peddana&family=Tajawal:wght@200;300&display=swap');

.body{
background-color:rgb(255, 255, 255) ;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px color( rgb(21, 21, 94));
font-family: 'Tajawal', sans-serif;
    }
header{
background-color: #2F5D8C;
border: 2px solid #2F5D8C;
height: 70px;
box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.now h1{
color: #071436 ;
margin-top: 100px;
font-size: 43px;
font-family: 'Tajawal', sans-serif;
text-align: center;

}


/* <!-- img -->  */




/* <!-- <header signingup language button>> --> */
.signingup{

margin-top: -50px;
display: flex;
}
.img body{
height: 88px;
width: 88px;
}
button{  width: 120px;
text-align: center;
height: 35px;
font-family: 'Tajawal', sans-serif;
font-weight: 9px;
color: #2b3658  ;
}

button:hover{
color: #031801;
}





/* header signingup */
.button8 button{
margin-right: 16px;
font-family: 'Tajawal', sans-serif;
background-color:  #ce7d5a;
border-radius: 60px ;
border-color:  #ce7d5a;
color: #F9F9F9;
}

.button8 button:hover{

transform: scale(1.05);
transition: .3s;

}
.button10 button{
border-radius: 60px solid ;
background-color:  #D8D8D6;
border-color: #ce7d5a;
border-radius: 60px ;

}
.button10 button:hover{

transform: scale(1.05);
transition: .3s;
}





/* زر انشاء الحساب الأن */
.button77{

display: flex;
justify-content: center;
margin-top: 80px;
font-family: 'Tajawal', sans-serif;
}
.button77 button {
border-radius: 19px  ;
width: 200px;
height: 67px;
font-size: 24px ;
font-family: 'Tajawal', sans-serif;
color: rgb(2, 6, 51);
}
.button77 button:hover{
background-color: #D8D8D6;
color: #D55E2D  ;
}

.card {
    border-radius: 5px;
    width: 210px;
    height: 90px;
    padding: 2rem;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .card > * + * {
    margin-top: 1.1em;
  }
  
  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #D55E2D;
    font-family: 'REM', sans-serif;
    font-family: 'Tajawal', sans-serif;
  }
  .card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
    font-family: 'REM', sans-serif;
    font-family: 'Tajawal', sans-serif;
  }
  
  .card .card__arrow  button{
    position: absolute;
    background:#2F5D8C;
    border-color: #2F5D8C;
    padding: 0.4rem;
    border-top-right-radius: 5px;
    bottom: 0;
    left: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card  button svg {
    transition: 0.2s;
  }
  
  /* hover */
  .card:hover .card__title {
    color: #2F5D8C;
    text-decoration: underline;
  }
  
  .card:hover .card__arrow  button{
    background-color: #D55E2D;
    border-color: #D55E2D;
  }
  
  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }


#data-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center
}
.card-container{
  display: grid;
}





/* nav */
nav{
border: 2px solid #D8D8D6;
border-radius:  2px;
background-color:  #D8D8D6;
height: 60px;
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 0;
/* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}
nav ul{
list-style: none;
display:flex;
font-size: 1.3rem;
margin-left: 1100px;
gap: 30px;
font-family: 'Tajawal', sans-serif;
}
nav ul li a{
text-decoration: none;
color:#2b3658 ;

}
nav ul li a:hover{
color: #091831;
}
/* nav don */





/* الكلمه الي في الصفحه الرئيسية */
.text{
align-items: center;
font-size: 60px;
display: block;
margin-inline-start: 88px;margin-top: 300px;
margin-right: 99px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #0a1543;
height: 389px;
margin-top: 280px;
width: 600px;
font-family: 'Tajawal', sans-serif;

}


h3{
text-align: center;
font-family: 'Tajawal', sans-serif;
font-size: 22px;
color: #012258;
}
h4{
padding-right: 6px;
color: #031801;

}
h5{
padding-right: 8px;
color: #073103;

}

h2{
text-align: center;
margin-top: 30px;
font-family: 'Tajawal', sans-serif;
color: #012258;
}
.vision2 {
text-align: center;
padding: 40px;
margin-top: 4rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
color: #012258;
height: 340px;
font-family: 'Tajawal', sans-serif;

}
.vision2 #vision-heading{
font-size: 66px;
margin-bottom: 30px;
font-family: 'Tajawal', sans-serif;
}
.vision2 #vision-paragraph{
width: 40%;
font-size: 30px;
}
.button5{
background-color: #e2e2e2;
width: 120px;
margin-top: 40px;
margin-right: 130px;
text-align: center;
}


.button5:hover{
background-color: #a2adc0;
}

.button6{
background-color: #e2e2e2;
width: 120px;
margin-top: 40px;
margin-right: 130px;
text-align: center;
}


.button6:hover{
background-color: #a2adc0;
}



.services{
text-align: center;
padding: 40px;
margin-top: 4rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
color:#2F5D8C;
height: 340px;
font-size: 30px;
}

.main2{
display: flex;
justify-content: space-around;
margin-left: px;
}



.card2{
border: 3px solid  #D8D8D6;
padding: 20px;
border-radius: 10px;
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
width: 400px;
height: 160px;
background-color: #D8D8D6;


}

h3{
text-align: center;
}
h4{
padding-right: 6px;
color: #031801;

}
h5{
padding-right: 8px;
color: #073103;

}
.now h1{
  font-size: 55px;
  color:#2F5D8C;
  justify-content: space-around;
}

.button4{
margin-top: 40px;
margin-right: 130px;

}

/* /////////////////////////// */

.services-card-container {
display: flex;
justify-content: space-around;
padding: 20px;
}

#services-heading{
color: #1a203f;
font-family: 'Tajawal', sans-serif;
margin-top: 90px;
}





/* Footer  */
*{
padding: 0;
margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Golos+Text&family=Marhey:wght@500&display=swap');

.footer{
/* background-color: #0f214f; */

background-color: #2F5D8C;
display: flex;
justify-content: space-around;
height: 310px; 
margin-top: 200px; 
}

.subscribe{
margin-top: 50px;
display: flex;
flex-direction: column;
margin-left: 110px;

}
.subscribe h2{
margin-bottom: 30px;
color: rgb(220, 220, 220);
font-size: 1.7rem;
font-family: 'Tajawal', sans-serif;
}
.qoute h2{
color:  rgb(220, 220, 220);
font-family: 'Tajawal', sans-serif;
font-size: 55px;

}

.qoute h1{
font-family: 'Tajawal', sans-serif;
}
.qoute{
margin-top: 50px;
color: rgb(220, 220, 220);
font-size: 1.2rem;
margin-left: 20px;
}
.list3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: -50px;
font-family: 'Tajawal', sans-serif;

}
.button2:hover{
transform: scale(1.04);
transition: .3s;

}
.footer-part{
margin-top: 50px;
display: flex;

}
.footer-part ul{
margin-right: 40px;
list-style: none;
}
.footer-part ul li a{
color: whitesmoke;
font-size: 1rem;
text-decoration: none;
font-family: 'REM', sans-serif;
font-family: 'Tajawal', sans-serif;
}


.footer-part li:hover {
transform: scale(1.03);
color: rgb(220, 220, 220);
transition: .2s;
}

/*  */

.feedback {
display: flex;
animation: scroll 10s linear infinite; 
border: rgb(192, 192, 212) solid 2px;
width: 1600px;
}

.feedback-card {
width: 50vw; 
height: 220px; 
background-color: #f0f0f0;
margin-right: 10px; 
border: yellow solid 2px
}
.scroll-container{
width: 800px;
border: 2px rgb(148, 7, 7) solid;
margin-right: 230px;
}

@keyframes scroll {
0% {
transform: translateX(100%);
}
100% {
transform: translateX(-100%);
}
}




/* .container */

.container {
display: flex;
align-items: center;
justify-content: center;
margin: 30px;
}
.card2 {
margin: 2%;
background: #D8D8D6;
width: 280px;
height: 140px;
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
border-radius: 3px;
transition: .2s all;
cursor: pointer;
align-items: center;
text-align: center;
font-size: 13px;
padding-top: 30px;
margin-top: 6px;

}
.card2 a h3{
font-size: 60px;
}
.card2:hover{

color: rgb(35, 35, 74);

}
.card2 > span {
display: block;
margin: auto;
max-width: 40px;

}

.container:hover .card2 {
filter: blur(3px);
opacity: .5;
transform: scale(.98);
box-shadow: none;
}

.container:hover .card2:hover {
transform: scale(1);
filter: blur(0px);
opacity: 1;
box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
background: #A82C2C;
color: white;
}